name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore src/sample/Leon.XXX.Api/Leon.XXX.Api.csproj
    - name: Build
      run: dotnet build src/sample/Leon.XXX.Api/Leon.XXX.Api.csproj --configuration Release --no-restore
    - name: Test
      run: dotnet test src/sample/Leon.XXX.Api/Leon.XXX.Api.csproj --no-restore --verbosity normal
